@import "variables";
@import "functions";
@import "mixins";
@import 'ember-burger-menu';

.test{
    margin-top: test-function(10px);
    color: $test-color;
    @include test-mixin;
}

.test-spinner {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background: assets('images/spinner-grey.svg') no-repeat;
    background-size: 20px;
}

.ember-burger-menu {
    position: absolute;
    height: 100%;
    width: 100%;
}